* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #c9c9c9;
  color: #121212;
  font-family: system-ui, -apple-system, sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}